extends layout

block content
	div.head
		p 
			a(href="#") 更多商品
		p 
			a(href="#") 设置
		p 
			a(href="#") 登录
		p 
			a(href="#") 贴吧
		p 
			a(href="#") 视频
		p 
			a(href="#") 地图
		p 
			a(href="#") hao 123
		p 
			a(href="#") 新闻
		p 
			a(href="#") 糯米
	div.conner
		img.img1(src="images/捕获_03.png")
		input.inp(type="text")
		input.bai(type="button" value="百度一下")
	div.floor
		div.fl_bai
			img(src="images/捕获_11.png")
			p 手机百度
		div.fl_text
			p.tui
				a(href="#") 把百度设为主页
				a(href="#") 关于百度
				a(href="#") About Baidu
				a(href="#") 百度推广
			p.fan ©2017Baidu
				a(href="#")使用百度前必读
				a(href="#")意见反馈
				a(href="#")京ICP证030173号
				img.img2(src="images/捕获_16.jpg")
				a(href="")京公网安备11000002000001号
				img(src="images/捕获_20.png")